/* 1. Theme default css */
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900|Roboto:100,100i,300,400,400i,500,500i,700,900&display=swap");
/* line 4, ../../Arafath/CL/CL september/205. Barber/HTML/scss/theme-default.scss */
body {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-style: normal;
}

/* line 13, ../../Arafath/CL/CL september/205. Barber/HTML/scss/theme-default.scss */
.img {
  max-width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 17, ../../Arafath/CL/CL september/205. Barber/HTML/scss/theme-default.scss */
a,
.button {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 21, ../../Arafath/CL/CL september/205. Barber/HTML/scss/theme-default.scss */
a:focus,
.button:focus, button:focus {
  text-decoration: none;
  outline: none;
}

/* line 26, ../../Arafath/CL/CL september/205. Barber/HTML/scss/theme-default.scss */
a:focus {
  color: #fff;
  text-decoration: none;
}

/* line 30, ../../Arafath/CL/CL september/205. Barber/HTML/scss/theme-default.scss */
a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  text-decoration: none;
  color: #1F1F1F;
}

/* line 37, ../../Arafath/CL/CL september/205. Barber/HTML/scss/theme-default.scss */
a,
button {
  color: #1F1F1F;
  outline: medium none;
}

/* line 42, ../../Arafath/CL/CL september/205. Barber/HTML/scss/theme-default.scss */
h1, h2, h3, h4, h5 {
  font-family: 'Playfair Display', serif;
  color: #1F1F1F;
}

/* line 46, ../../Arafath/CL/CL september/205. Barber/HTML/scss/theme-default.scss */
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

/* line 55, ../../Arafath/CL/CL september/205. Barber/HTML/scss/theme-default.scss */
ul {
  margin: 0px;
  padding: 0px;
}

/* line 59, ../../Arafath/CL/CL september/205. Barber/HTML/scss/theme-default.scss */
li {
  list-style: none;
}

/* line 62, ../../Arafath/CL/CL september/205. Barber/HTML/scss/theme-default.scss */
p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #4D4D4D;
  margin-bottom: 13px;
  font-family: 'Raleway', sans-serif;
}

/* line 71, ../../Arafath/CL/CL september/205. Barber/HTML/scss/theme-default.scss */
label {
  color: #7e7e7e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

/* line 77, ../../Arafath/CL/CL september/205. Barber/HTML/scss/theme-default.scss */
*::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

/* line 82, ../../Arafath/CL/CL september/205. Barber/HTML/scss/theme-default.scss */
::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

/* line 87, ../../Arafath/CL/CL september/205. Barber/HTML/scss/theme-default.scss */
::selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

/* line 92, ../../Arafath/CL/CL september/205. Barber/HTML/scss/theme-default.scss */
*::-webkit-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

/* line 97, ../../Arafath/CL/CL september/205. Barber/HTML/scss/theme-default.scss */
*:-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

/* line 102, ../../Arafath/CL/CL september/205. Barber/HTML/scss/theme-default.scss */
*::-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

/* line 107, ../../Arafath/CL/CL september/205. Barber/HTML/scss/theme-default.scss */
*::placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

/* line 113, ../../Arafath/CL/CL september/205. Barber/HTML/scss/theme-default.scss */
h3 {
  font-size: 24px;
}

/* line 117, ../../Arafath/CL/CL september/205. Barber/HTML/scss/theme-default.scss */
.mb-65 {
  margin-bottom: 67px;
}

/* line 121, ../../Arafath/CL/CL september/205. Barber/HTML/scss/theme-default.scss */
.black-bg {
  background: #020c26 !important;
}

/* line 125, ../../Arafath/CL/CL september/205. Barber/HTML/scss/theme-default.scss */
.white-bg {
  background: #ffffff;
}

/* line 128, ../../Arafath/CL/CL september/205. Barber/HTML/scss/theme-default.scss */
.gray-bg {
  background: #f5f5f5;
}

/* line 133, ../../Arafath/CL/CL september/205. Barber/HTML/scss/theme-default.scss */
.bg-img-1 {
  background-image: url(../img/slider/slider-img-1.jpg);
}

/* line 136, ../../Arafath/CL/CL september/205. Barber/HTML/scss/theme-default.scss */

/* line 139, ../../Arafath/CL/CL september/205. Barber/HTML/scss/theme-default.scss */
.cta-bg-1 {
  background-image: url(../img/background-img/bg-img-3.jpg);
}

/* line 144, ../../Arafath/CL/CL september/205. Barber/HTML/scss/theme-default.scss */
.overlay {
  position: relative;
  z-index: 0;
}

/* line 148, ../../Arafath/CL/CL september/205. Barber/HTML/scss/theme-default.scss */
.overlay::before {
  position: absolute;
  content: "";
  background-color: #1f1f1f;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .5;
}

/* line 160, ../../Arafath/CL/CL september/205. Barber/HTML/scss/theme-default.scss */
.overlay2 {
  position: relative;
  z-index: 0;
}

/* line 164, ../../Arafath/CL/CL september/205. Barber/HTML/scss/theme-default.scss */
.overlay2::before {
  position: absolute;
  content: "";
  background-color: #131313;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.2;
}

/* line 176, ../../Arafath/CL/CL september/205. Barber/HTML/scss/theme-default.scss */
.section-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* line 180, ../../Arafath/CL/CL september/205. Barber/HTML/scss/theme-default.scss */
.pt-120 {
  padding-top: 120px;
}

/* button style */
/* line 186, ../../Arafath/CL/CL september/205. Barber/HTML/scss/theme-default.scss */
.owl-carousel .owl-nav div {
  background: transparent;
  height: 54px;
  left: 0px;
  line-height: 54px;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 54px;
  font-size: 25px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  left: 50px;
  font-size: 18px;
  line-height: 54px;
}

/* line 213, ../../Arafath/CL/CL september/205. Barber/HTML/scss/theme-default.scss */
.owl-carousel .owl-nav div.owl-next {
  left: auto;
  right: 50px;
}

/* line 218, ../../Arafath/CL/CL september/205. Barber/HTML/scss/theme-default.scss */
.owl-carousel .owl-nav div.owl-next i {
  position: relative;
  right: 0;
  top: 1px;
}

/* line 225, ../../Arafath/CL/CL september/205. Barber/HTML/scss/theme-default.scss */
.owl-carousel .owl-nav div.owl-prev i {
  position: relative;
  right: 1px;
  top: 0px;
}

/* line 235, ../../Arafath/CL/CL september/205. Barber/HTML/scss/theme-default.scss */
.owl-carousel:hover .owl-nav div {
  opacity: 1;
  visibility: visible;
}

/* line 238, ../../Arafath/CL/CL september/205. Barber/HTML/scss/theme-default.scss */
.owl-carousel:hover .owl-nav div:hover {
  color: #fff;
  background: #009DFF;
}

/* line 247, ../../Arafath/CL/CL september/205. Barber/HTML/scss/theme-default.scss */
.mb-20px {
  margin-bottom: 20px;
}

/*# sourceMappingURL=theme-default.css.map */